<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Botulism In America</title>
  <!--Linking to Bootswatch theme CSS-->
  <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet" integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">
    
  <!--Linking Optional JavaScript functionality files-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
</head>
  

<body style="background-image: url({{url_for('static', filename='images/botulism-1.jpg')}})"> <!--"background-color:rgb(255, 192, 158)"> -->
  <!--NAVBAR-->
  <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light" style="padding-bottom: 0px; padding-top: 0px;border-bottom-style:dotted; border-color:black; border-bottom-width: 4px;">
      <a class="navbar-brand" style="padding-bottom: 0px; padding-top: 0px;" href="https://andreamorgan.github.io/"><h2 style="width: fluid; height: fluid;background-color:rgb(255, 192, 158);
      margin-bottom: 0px; padding-bottom: 20px; padding-top: 20px; padding-left: 5px; padding-right: 5px;">Botulism In America</h2></a>
      <button class="navbar-toggler" style="float:left" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
                <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">The Data</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/cleanup">Cleanup</a>
                                    <a class="dropdown-item" href="/data">Data Table</a>
                                    <a class="dropdown-item" href="https://data.cdc.gov/Foodborne-Waterborne-and-Related-Diseases/Botulism/66i6-hisz" target="_blank">CDC - Botulism Data</a>
                                </div>
                        </li>
              
            
              <li class="nav-item">
                  <a class="nav-link" href="/about">About This Project</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More on Botulism</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/history">History</a>
                          <a class="dropdown-item" href="/types">Types & Toxins</a>
                          <a class="dropdown-item" href="/safety">Safety Tips</a>
                      </div>
              </li>
          </ul>
      </div>
  </nav>

  <!--GRID FOR CONTENTS ON PAGE-->
  <div class="container" style="max-width:95%; padding-bottom:10%; padding-top: 150px;">
    
      <div class="row">

          <!--Larger container for main content on page -->
          <div class="col-sm-12" style="padding-bottom: 40px;"> 
              <div class="row" >
                      <div class="col-sm" style="background-color:white; padding-top: 40px; padding-bottom: 40px;">
                          <h3 class="border-bottom" style="background-color: white; padding-bottom:40px;" >Safety Tips</h3> 
                          
                          

                          <p style="padding-top: 10px; background-color: white; margin-bottom: 0px;">
                          
                            Here's a bunch of information about how to protect yourself from Botulism

    </p>


                      
              </div>                        
          </div>



      </div>

     
            
  </div>

<!--FOOTER-->
  <div class="fixed-bottom;" style="background-color:rgb(255, 192, 158); border-top-style:dotted; border-color:black; border-top-width: 4px;">
      <div class="col">
          <h6 class="text-center"style="padding-bottom:20px; padding-top:20px margin-bottom:0px;">©Karen McGee | Andrea Morgan | Stacey Smith <br> Vanderbilt Data Analytics Bootcamp 2019</h6>
      </div> 
  </div>
</body>

  
  
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 
  


</body>

</html>